### Python Notes

#### Notes Prepared by Mohan Nayak
###### You can follow me on linkedin https://www.linkedin.com/in/mohan-nayak-49954392?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BQ6mx07N%2FTOqTI9Op6fyvWA%3D%3D

# Python Data Structures and Boolean

* Boolean
* Boolean and Logical Operators
* Lists
* Comparison operators
* Dictionaries
* Tuples
* Sets

# Boolean Variables

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [2]:
False

False

In [3]:
print(True, False)

True False

In [4]:
type(True)

bool

In [5]:
type(False)

bool

In [8]:
my_str='Mohan8797'

In [9]:
my_str.istitle()

True

In [11]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('M')) #test if string endswith a d
print(my_str.startswith('M')) #test if string startswith M

True
False
False
True
False
False
False
False
True

### Boolean and Logical Operators

Python has three Boolean operators, or logical operators: and, or, and not. You can use them to check if certain conditions are met before deciding the execution path your programs will follow. In this tutorial, you’ll learn about the and operator and how to use it in your code.

In [12]:
True and True

True

In [13]:
True and False

False

In [14]:
True or False

True

In [15]:
str_example ='Hello World'
my_str= 'Mohan'

In [16]:
my_str.isalpha() or str_example.isnum()

True

### Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [17]:
type([])

list

In [18]:
list_example=[]

In [19]:
type(list_example)

list

In [20]:
list=list()

In [21]:
type(list)

list

In [22]:
list=['Mathematics','chemistry', 100, 150, 165, 204]

len(list)

6

#### Append

What is append in Python with example?

append() will place new items in the available space. Lists are sequences that can hold different data types and Python objects, so you can use . append() to add any object to a given list. In this example, you first add an integer number, then a string, and finally a floating-point number.

In [29]:
#.append is used to add elements in the list
list.append("shiva")

In [32]:
list.append(["chinna","ravi"])

In [33]:
list

['Mathematics',
 'chemistry',
 100,
 150,
 165,
 204,
 'Mohan',
 'Mohan',
 ['chinna', 'ravi'],
 'shiva',
 ['chinna', 'ravi'],
 ['chinna', 'ravi']]

In [34]:
list[6]

'Mohan'

In [35]:
list[4]

165

In [37]:
list[1:6]

['chemistry', 100, 150, 165, 204]

### Insert
insert() function is a Python library function used to insert a given element at a given index in a list. After the insertion of a new element in the list, elements after the inserted element are shifted by one index to the right side.

In [38]:
# insert in a specific order

list.insert(2,"Ram")

In [39]:
list

['Mathematics',
 'chemistry',
 'Ram',
 100,
 150,
 165,
 204,
 'Mohan',
 'Mohan',
 ['chinna', 'ravi'],
 'shiva',
 ['chinna', 'ravi'],
 ['chinna', 'ravi']]

In [41]:
list.append(["Hello","World"])

In [42]:
list

['Mathematics',
 'chemistry',
 'Ram',
 100,
 150,
 165,
 204,
 'Mohan',
 'Mohan',
 ['chinna', 'ravi'],
 'shiva',
 ['chinna', 'ravi'],
 ['chinna', 'ravi'],
 ['Hello', 'World']]

In [46]:
list=[1,2,3]

list

[1, 2, 3]

In [47]:
list.append([4,5])
list

[1, 2, 3, [4, 5]]

### Extend Method

The extend() method adds all the elements of an iterable (list, tuple, string etc.) to the end of the list

In [1]:
list=[1,2,3,4,5,6]
list.extend([8,9])

In [2]:
list

[1, 2, 3, 4, 5, 6, 8, 9]

#### Various Operations that we can perform in List

In [3]:
list=[1,2,3,4,5]
sum(list)

15

In [4]:
list*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### pop() Method

   * The pop() method removes the element at the specified position.

In [5]:
list.pop()

5

In [6]:
list

[1, 2, 3, 4]

In [7]:
list.pop()

4

In [8]:
list.pop(0)

1

In [9]:
list

[2, 3]

### count(): Calculates total occurrence of given element of List

In [12]:
list = [1,1,2,3,4,5]
list.count(1)

2

In [13]:
#length:Calculates total length of List

len(list)

6

In [15]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
list.index(1,1,4)

1

In [16]:
##Min and Max
min(list)

1

In [17]:
max(list)

5

### SETS
***********
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [18]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [19]:
set_var={1,2,3,4,3}

In [20]:
set_var

{1, 2, 3, 4}

In [21]:
set_var={"Avatar2","RRR",'Bahubali'}
print(set_var)
type(set_var)

{'Avatar2', 'Bahubali', 'RRR'}

set

In [22]:
# Inbuilt function in sets

set_var.add("Akhanda")

In [23]:
print(set_var)

{'Avatar2', 'Akhanda', 'Bahubali', 'RRR'}

In [31]:
set1 = {"Avatar2","RRR",'Bahubali'}
set2 = {"Avatar2","RRR",'Bahubali',"Akhanda2"}

In [32]:
set2.intersection_update(set1)

In [35]:
set2

{'Avatar2', 'Bahubali', 'RRR'}

**Python intersection_update() method** is used to update a set with common elements only of all the sets passed in parameter of intersection_update() method.

### Python set intersection_update() Method Syntax:

**Syntax:** set.intersection_update(set1,set2,set3,………..,set n)

**Parameters:** 

  * One or more sets

In [36]:
##Difference 

set2.difference(set1)

set()

### Dictionaries
*******
Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

### Example of Dictionary in Python 
*****
Dictionary holds key:value pair. Key-Value is provided in the dictionary to make it more optimized.

In [37]:
dic={}

In [38]:
type(dic)

dict

In [39]:
type(dict())

dict

In [40]:
set_ex={1,2,3,4,5}

In [42]:
type(set_ex)

set

In [43]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [44]:
type(my_dict)

dict

In [45]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [46]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [47]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [48]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [49]:
# Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [50]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [52]:
my_dict['Car1']='Maruti'

my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary
***********
**Prerequisite – Python dictionary**
A Dictionary in Python works similar to the Dictionary in the real world. Keys of a Dictionary must be unique and of immutable data type such as Strings, Integers and tuples, but the key-values can be repeated and be of any type.

**Nested Dictionary:** Nesting Dictionary means putting a dictionary inside another dictionary. Nesting is of great use as the kind of information we can model in programs is expanded greatly.

In [53]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [54]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [55]:
# Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [56]:
print(car_type['car3'])

{'Ambassador': 1980}

**Python Tuple** is a collection of objects separated by commas. In some ways, a tuple is similar to a list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike lists which are mutable.

## Creating Python Tuples
To create a tuple we will use () operators.

In [58]:
# create an empty Tuples

my_tuple=tuple()

In [59]:
type(my_tuple)

tuple

In [60]:
my_tuple=()

In [61]:
type(my_tuple)

tuple

In [62]:
var = ("Mohan", "Shashikanth", "Rahul")
print(var)

('Mohan', 'Shashikanth', 'Rahul')

In [64]:
# A new way of creating Python Tuples in Python 3.11 

values : tuple[int | str, ...] = (1,2,4,"John")

print(values)

# Here, in the above snipper we are considering a variable called values which holds a tuple which consists of either int or str , the ‘…’ means that the tuple will hold more than one int or str

# Note: In case your generating a tuple with a single element, make sure to add a comma after the element.

(1, 2, 4, 'John')

## Accessing Values in Python Tuples
*****
**Method 1:** Using Positive Index
    
Using square brackets we can get the values from tuples in Python.

In [65]:
var = ("Add", "Multiply", "Division")
print("value in var[0]=", var[0])
print("value in var[1]=", var[1])
print("value in var[2]=", var[2])

value in var[0]= Add
value in var[1]= Multiply
value in var[2]= Division

### Method 2: Using Negative Index.
******
In the above methods, we use the positive index to access the value in Python, and here we will use -ve index within [].

In [67]:
var = ("Add", "Multiply", "Division")
print("value in var[-3]=", var[-3])
print("value in var[-2]=", var[-2])
print("value in var[-1]=", var[-1])

value in var[-3]= Add
value in var[-2]= Multiply
value in var[-1]= Division

### Concatenation of Python Tuples
**********
To concatenate the Python tuple we will use plus operators(+).

In [68]:
# Code for concatenating 2 tuples

tuple1 = (0, 1, 2, 3)
tuple2 = ('mango', 'apple')

# Concatenating above two

print(tuple1 + tuple2)

(0, 1, 2, 3, 'mango', 'apple')

In [70]:
# Nesting of Python Tuples

tuple1 = (0, 1, 2, 3)
tuple2 = ('mango', 'apple')
tuple3 = (tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('mango', 'apple'))

In [71]:
#  Repetition Python Tuples
# Code to create a tuple with repetition

tuple3 = ('mango',)*3
print(tuple3)

('mango', 'mango', 'mango')

## Slicing Python Tuples
**********
Tuple slicing is basically used to obtain a range of items. Furthermore, we perform tuple slicing using the slicing operator. We can represent the slicing operator in the syntax [start:stop:step]. Moreover, it is not necessary to mention the 'step' part.

In [72]:
# code to test slicing

tuple1 = (0 ,1, 2, 3)
print(tuple1[1:])
print(tuple1[::-1])
print(tuple1[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [73]:
# Code for deleting a tuple

tuple3 = ( 0, 1)
del tuple3
print(tuple3)

NameError: name 'tuple3' is not defined

##  Finding Length of a Tuple
******
The len() method returns the total number of elements in the given tuple

In [74]:
# Code for printing the length of a tuple

tuple2 = ('mango', 'apple')
print(len(tuple2))

2

### Converting list to a Tuple
****

In [75]:
# Code for converting a list and a string into a tuple

list1 = [0, 1, 2]
print(tuple(list1))
print(tuple('python')) # string 'python'

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')

### Tuples in a loop

In [76]:
# python code for creating tuples in a loop
tup = ('Nayak')
n = 5 # Number of time loop runs
for i in range (int(n)):
    tup = (tup,)
    print(tup)

('Nayak',)
(('Nayak',),)
((('Nayak',),),)
(((('Nayak',),),),)
((((('Nayak',),),),),)